<!DOCTYPE html>
<html>
<head>
  <title>MagicSled : Super Simple Way to Make Random Gift Assignments</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= render partial: '/layouts/favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="login-layout">
  <div id="container">
  <%= yield %>
  </div>
</body>
</html>
